body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0px;
    background-image: url(../assets/pcs.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


header {
    background-color: rgb(15, 12, 31);
    padding: 0.5px 0px 2px 45px;
    margin-bottom: 2em;
    color: white;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

h2 > a {
    color: white;
    text-decoration: none;
}




.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to right, rgb(88, 120, 223), rgb(148, 42, 107));
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 2em;
}

h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 3em;

    color: white;
}


.component-list {
    float: left;
    width: 48%;
    box-sizing: border-box;
    padding: 0 1%;
    margin-bottom: 20px;
}

.cart {
   float: right;
    top: 10em;
    width: 95%;
    height: 10%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.component-title {
    margin-top: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.linksContainer {
    list-style: none;
    padding: 0;
    margin: 0;
}
    
.linksContainer > li {
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

li:hover {
    background-color: #e0e0e0;
}

.cart h2 {
    text-align: center;
    margin-top: 0;
    color: #555;
}

.cart ul {
    margin-top: 0;
}

.cart li {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.cart li strong {
    font-weight: normal;
}

button {
    background-color: #5841bd;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9233ff;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
footer {
    position: absolute;
    top: rem;
    
    width: 100%;
    background-color: rgb(15, 12, 31);
    padding: 30px 0 25px 0;
    color: white;
    text-align: center;
    line-height: 2em;
}