* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.headerContainer {
    background-color: rgb(15, 12, 31);
    color: white;
    display: flex;
    padding: 20px 0px 20px 45px;
    position: fixed;
    z-index: 1;
    width: 100vw;
}


.l3 {
    color: rgb(247, 118, 247);
}

ul {
    display: flex;
    list-style: none;
    margin-left: 37rem;
}

li {
    margin-left: 50px;
    margin-top: 5px;  
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.4s ease;
}

li > a:hover {
    color: violet;
}

.formularioContacto {
    display: block;
    padding-top: 10em;
    padding-bottom: 50em;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(94, 34, 102), rgb(31, 31, 82)); 148), rgb(13, 13, 37));
    height: 100vh;
    
}

.formularioContacto label {
    display: block;
    margin-bottom: 10px;
}

footer {
    background-color: rgb(15, 12, 31);
    /* margin-top: 0px; */
    padding: 30px 0 25px 0;
    color: white;
    text-align: center;
    line-height: 2em;

}

form {
    justify-content: center;
    align-items: center;
}

address {
    color: rgb(172, 162, 162);
    margin-top: 10px;
}
label {
    text-align: center;

display: inline-block;
justify-content: center;
align-items: center;
    
}
label > p {
    margin-top: 2em;
    font-size: 20px;
    margin-bottom: 1em;
}

select, option {
    color: black;
    width: ;
}

input {
    width: 15em;
}

textarea {
    min-width: 500px;
    max-width: 500px;
    min-height: 120px;
    max-height: 120px;
}

/* .terminosContainer {
    display: flex;
    margin: 20px 0px 0px 9em
}
.terminosContainer > input {
    margin-left: 10px;
    margin-top: 2px;
}

.inputsTexto {
    width: 35em;
    height: 25px;
    color: black;
    font-size: 1em;
    font-weight: 600;
    margin-left: 2px;
}
 */

/* 
.botonForm {
    margin: 32px;
    padding: 10px;
    color: violet;
    background: linear-gradient(to right, rgb(174, 76, 187), rgb(13, 13, 37));
    color: white;
    border-radius: 2px;
    border: none;
    position: relative;
    left: 9em;
    width: 5em;
    font-size: 20px;
    transition: background 1s;
}

.botonForm:hover {
    background: linear-gradient(to right, rgb(136, 49, 148), rgb(13, 13, 37));
} */
