* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.imagenFondo {
    background-image: url(../assets/fondoEstatico.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* transition: background-image(); */
/*     height: 70em; */
}



.textoFondoContainer {
    position: relative;
    top: 13em;
}

.botonRegistrarse {
    position: relative;
    top: 10vh;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(136, 49, 148), rgb(13, 13, 37));
    font-size: 20px;
    border: none;
    /* transition: background:linear-gradient 0.6s; */
}

.botonRegistrarse:hover {
    background: linear-gradient(to right, rgb(120, 118, 230), rgb(13, 13, 37));
}

.l1 {
    color: rgb(247, 118, 247);
}


h1, p {
    color: white;
    line-height: 30px;
}

.encabezadoH1 {
    font-size: 70px;
}
.encabezadoP {
    margin-top: 4rem;
}

.headerContainer {
    background-color: rgb(15, 12, 31);
    color: white;
    display: flex;
    padding: 20px 0px 20px 45px;
    position: fixed;
    z-index: 1;
    width: 100vw;
    box-shadow: 1px 1px 5px black;
}

.botonNav {
    display: none;
}

ul {
    display: flex;
    list-style: none;
    margin-left: 37rem;
}

li {
    margin-left: 50px;
    margin-top: 5px;  
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.4s ease;
}


/* .tituloHeader {
    font-family: 'Roboto Mono', monospace;
} */


.links:hover {
    color: rgb(247, 118, 247);
}

div {
    text-align: center;
}

.seccion1 {
    /* height: 45em; */
    background-color: rgb(15, 12, 31);
    border-radius: 100px 100px 0 0 ;
    padding-bottom: 5em;
    margin-top: 22rem;
}

.cartasContainer {
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    flex-wrap: wrap;
}

h3 {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 100px;
    font-size: 45px;
}

.tecnologiaImagen{
    width: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.tituloCartita1 {
    margin-top: 10px ;
    font-size: 22px;
}

.enviosImagen {
    width: 180px;
    
}

.cartitas {
    
    border-radius: 25px;
    width: 330px;
    height: 410px;
    padding: 10px 20px 10px 20px;
    background: linear-gradient(to right, rgb(136, 49, 148), rgb(23, 23, 88));

    box-shadow: 1px 1px 5px rgb(119, 0, 255);
}

.tituloCartita2 {
    margin-top: 10px;
    font-size: 30px;
}
.parra2Cartita2 {
    position: relative;
    bottom: 15px;
}

.tituloCartita3{
    font-size: 25px;
    margin-top: 10px;
}

.clienteImagen {
    width: 150px;
    height: 120px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.seccion2 {
    background-image: url(../assets/pcneonfondo2.jpg);
    height: 59em;
    padding-bottom: 5em;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
}



h4 {
    padding-top: 1em;
    font-size: 40px;
    line-height: 65px;
    text-shadow: 5px 3px 5px black;
}


.div1Seccion2 {
    background: linear-gradient(to right, rgb(19, 23, 43), rgb(9, 110, 77));
    width: 80vw;
    height: 34rem;
    margin-top: 12em;
    margin-left: 10vw;
    border-radius: 10em 0 10em 0;
    overflow: hidden;
    border: 30px, 30px, red;
}


.div1Seccion2 > p {
    font-size: 32px;
    line-height: 2em;
    margin-top: 4em;
    margin-bottom: 3em;
    margin-left: 30px;
    margin-right: 30px;
    color: rgb(245, 174, 245);
}

.nvidiaLogo {
    width: 30em;
    margin-bottom: 30em;
}

footer {
    background: linear-gradient(to right, rgb(73, 30, 78), rgb(31, 31, 82));  
    height: 23em;
    margin-top: 36px;
    padding-top: 20px;
    color: white;
   /*  padding-bottom: 20px */
}

footer > p, address {
    position: relative;
    z-index: 0;
    top: 200px;
    text-align: center;
}

address {
    margin-top: 15px;
    color: rgb(172, 162, 162);
}






.imagenSeccion2 {
    width: 2px;
}

.toggle {
    color: white;
    position: absolute;
    right: 2em;

    cursor: pointer;
    transition: 0.3s;
    display: none;
}

svg {
    width: 2em;
    height: 2em;
}

.linksMobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .headerContainer {
        text-align: center;
        width: 100%;
    }

    main {
        overflow-x: hidden;
    }

    .toggle {
        display: block;
    }
    
    .navbar {
        display: none;
        background-color: rgb(15, 12, 31);
        position: absolute;
        width: 100%;
        text-align: center;
        top: 60px;
        left: 0;
        z-index: 1;
    }

    .navbar.active {
        display: block;
        transition: all 1s;
    }

    .navbar ul {
        display: block;
        padding: 1em 0;
    }

    .navbar li {
        margin-left: 45vw;
    }

    .navbar a {
        display: block;
        padding: 10px;
        font-size: 18px;
        color: white;
    }


    .linksContainer {
        display: inline-block;
        position: relative;
        /* top
        bottom: 5em; */
        right: 10em;
        padding-top: 3em;
       /*  gap: 20px; */
        justify-content: end;
    }

    .links {
        position: relative;
        right: 125vw;
    }

    .encabezadoH1 {
        font-size: 3em;
        text-shadow: 1px 1px 1px black;
    
    }

    .encabezadoP {
        font-size: 22px;
        margin-left: 2em;
        margin-right: 2em;
        text-shadow: 1px 1px 1px black;
    }

    
    .botonRegistrarse {
        font-size: 20px;
        padding: 15px 25px; 
    }

    h2{
        font-size: 24px;
        padding-right: 50px;
    }
    
    


    h3 {
        font-size: 2em;
        padding-top: 40px;

    }

    .cartasContainer {
        justify-content: center;
        overflow-y: hidden;
    }
   
    .seccion1 {
        border-radius: 3em 3em 0 0;
        margin-top: 178px;
        overflow-y: hidden;
    }

    .seccion2{
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .cartitas {
        margin-bottom: 5em;
        padding-bottom: 28em;
        overflow-y: hidden;
    }

    .div1Seccion2 > p {
        overflow-y: hidden;
        font-size: 6vw;
        margin-top: 18vh;
    }

    .imagenSeccion2 {
        width: 90%;
        overflow-y: hidden;
    }

    img {
        overflow: hidden;
    }

    .nvidiaLogo {
        display: none;
    }

    footer {
        overflow-x: hidden;
        overflow-y: hidden;
        font-size: 23px;
        margin: 0;

        padding-top: 0;
        padding-bottom: 25em;
    }

    footer > p {
        line-height: 3em;
    }

}

