* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.imagenFondo {
    background-image: url(../assets/fondoEstatico.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* transition: background-image(); */
/*     height: 70em; */
}



.textoFondoContainer {
    position: relative;
    top: 13em;
}

.botonRegistrarse {
    position: relative;
    top: 10vh;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(136, 49, 148), rgb(13, 13, 37));
    font-size: 20px;
    border: none;
    /* transition: background:linear-gradient 0.6s; */
}

.botonRegistrarse:hover {
    background: linear-gradient(to right, rgb(120, 118, 230), rgb(13, 13, 37));
}

.l1 {
    color: rgb(247, 118, 247);
}


h1, p {
    color: white;
    line-height: 30px;
}

.encabezadoH1 {
    font-size: 70px;
}
.encabezadoP {
    margin-top: 4rem;
}

.headerContainer {
    background-color: rgb(15, 12, 31);
    color: white;
    display: flex;
    padding: 20px 0px 20px 45px;
    position: fixed;
    z-index: 1;
    width: 100vw;
    box-shadow: 1px 1px 5px black;
}



ul {
    display: flex;
    list-style: none;
    margin-left: 37rem;
}

li {
    margin-left: 50px;
    margin-top: 5px;  
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.4s ease;
}


/* .tituloHeader {
    font-family: 'Roboto Mono', monospace;
} */


.links:hover {
    color: rgb(247, 118, 247);
}

div {
    text-align: center;
}

.seccion1 {
    /* height: 45em; */
    background-color: rgb(15, 12, 31);
    border-radius: 100px 100px 0 0 ;
    padding-bottom: 5em;
    margin-top: 22rem;
}

.cartasContainer {
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    flex-wrap: wrap;
}

h3 {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 100px;
    font-size: 45px;
}

.tecnologiaImagen{
    width: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.tituloCartita1 {
    margin-top: 10px ;
    font-size: 22px;
}

.enviosImagen {
    width: 180px;
    
}

.cartitas {
    
    border-radius: 25px;
    width: 300px;
    height: 410px;
    padding: 10px 20px 10px 20px;
    background: linear-gradient(to right, rgb(136, 49, 148), rgb(23, 23, 88));

    box-shadow: 1px 1px 5px rgb(119, 0, 255);
}





.tituloCartita2 {
    margin-top: 10px;
    font-size: 30px;
}
.parra2Cartita2 {
    position: relative;
    bottom: 15px;
}

.tituloCartita3{
    font-size: 25px;
    margin-top: 10px;
}

.clienteImagen {
    width: 150px;
    height: 120px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.seccion2 {
    background-image: url(../assets/pcneonfondo2.jpg);
    height: 59em;
    padding-bottom: 5em;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.seccion2Div1 {
    /*  display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

.seccion2Div1 > img {
    box-sizing: border-box;
    box-shadow: 0px 0px 0px solid;
    /* border-radius: 50px; */
    margin: auto;
    width: 600px;
    height: 300px;
    border: 3px solid;
    border-width: 2px;
    border-image: linear-gradient(105.51deg, rgba(231, 46, 255, 0.77) 0%, rgba(34, 40, 70, 0.24) 98.98%);
    border-image-slice: 1;
    width: 400px;
}

.seccion2Div1 > p {
    font-size: 2em;
    margin-top: 75px;
}

.seccion2Div1 {
    background: linear-gradient(to right, rgb(136, 49, 148), rgb(23, 23, 88));

}


h4 {
    padding-top: 1em;
    font-size: 40px;
    line-height: 65px;
    text-shadow: 5px 3px 5px black;
}
.seccion2 > p {
    font-size: 30px;
    line-height: 70px;
    padding-top: 40px;
    padding-bottom: 50px;
    text-shadow: 3px 2px 4px black;
}

footer {
    background: linear-gradient(to right, rgb(94, 34, 102), rgb(31, 31, 82));  
    height: 23em;
    margin-top: 36px;
    color: white;
   /*  padding-bottom: 20px */
}

footer > p, address {
    position: relative;
    z-index: 1;
    top: 200px;
    text-align: center;
}

address {
    margin-top: 15px;
    color: rgb(172, 162, 162);
}

.logosContainer {
    display: flex;
}

.logo {
    width: 30px;
    position: relative;
    top: 13em;
    left: 45vw;
    right: 45vw;
    display: block;
    margin-right: 15px;
    align-content: center;
}

.imagenesPC{
    box-shadow: 2px 2px 30px black;
}


@media only screen and (max-width: 800px) {
    .headerContainer {
        text-align: center;
        width: 100%;
    }

    .encabezadoH1 {
        font-size: 3em;
        text-shadow: 1px 1px 1px black;
    
    }

    .encabezadoP {
        font-size: 22px;
        margin-left: 2em;
        margin-right: 2em;
        text-shadow: 1px 1px 1px black;
    }

    
    .botonRegistrarse {
        font-size: 20px;
        padding: 15px 25px; 
    }

    h2{
        font-size: 24px;
        padding-right: 50px;
    }
    
    


    h3 {
        font-size: 2em;
        padding-top: 40px;

    }

    .cartasContainer {
        justify-content: center;
    }
   
    .seccion1 {
        border-radius: 3em 3em 0 0;
        margin-top: 178px;
    }

    .cartitas {
        margin-bottom: 5em;
        padding-bottom: 28em;
    }


    .seccion2Div1 {
        margin-left: 0;
        margin-right: 0;
    }

    
    .seccion2Div1 > img {
        width: 100%;
        height: auto;
    }


}