* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.headerContainer {
    background-color: rgb(15, 12, 31);
    color: white;
    display: flex;
    padding: 20px 0px 20px 45px;
    /* position: fixed; */
    /* z-index: 1; */
    width: 100%;
}

.l3 {
    color: rgb(247, 118, 247);
}

ul {
    display: flex;
    list-style: none;
    margin-left: 37rem;
}

li {
    margin-left: 50px;
    margin-top: 5px;  
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.4s ease;
}

.formularioContacto {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(136, 49, 148), rgb(13, 13, 37));
    padding: 5em;
}

footer {
    background: black;  
    height: 8em;
    color: white;

}

.botonForm {
    margin: 32px;
    padding: 10px;
    color: violet;
}





